<h1>News!</h1>
{{#each data}}
    <div>
    <p>{{headline}} </p>
    <p>{{summary}}</p>
    <a href={{URL}}>Link</a>
    <hr>
    <button id="save">Save Article</button>
    <button id="remove">Remove Article</button>
    </div>
{{/each}}